.button {
    display: block;
    margin-bottom: 0;
    width: 200px;
    height: 50px;

}
.wrapper {
    width: 400px;
    display: flex;
    margin: 0 auto;
}

.menu {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: tomato;
    text-align: center;
}